# This is a minimal set of files in the red git repository to be ignored.
# (The files listed are those that are generated when running tests)
#
# To get git to ignore more files locally update the .git/info/exclude file. It uses the
# same format as .gitignore
#
# Copyright © 2018 Red Foundation
# Licensed under the Boost Software licence 
# (see https://github.com/red/red/blob/master/BSL-License.txt)

quick-test/quick-test.log
quick-test/runnable/
system/tests/source/units/auto-tests/
tests/source/units/auto-tests/
crush.dll
crush.so
crush.dylib
